<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanluo.prefloppal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PreflopPal">

        <!-- Welcome Activity (First screen with logo and buttons) -->
        <activity
            android:name=".auth.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"/>

        <!-- Sign Up Activity -->
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false"/>

        <!-- Main Activity -->
        <activity
            android:name=".main.MainActivity"
            android:exported="false"/>

        <!-- Learn Activity -->
        <activity
            android:name=".main.LearnActivity"
            android:exported="false"/>

        <!-- History Activity -->
        <activity
            android:name=".main.HistoryActivity"
            android:exported="false"/>

    </application>

</manifest>